footer {
	width: 100%;

	color: white;
	background-color: rgb(45, 106, 163);

	& > #FooterContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 90%;
		gap: 4rem;
		margin: auto;
		padding: 4rem 0 4rem 0;

		h4 {
			font-size: 1.5rem;
		}

		& > div {
			width: 100%;
		}

		i,
		p {
			font-size: 1.3rem;
		}

		.first-footer-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			gap: 2.5rem;

			img {
				cursor: pointer;

				margin-left: 0;
			}

			p {
				max-width: 430px;
			}
		}

		.second-footer-container {
			& > div {
				display: flex;
				justify-content: space-between;

				ul {
					display: flex;
					flex-direction: column;
					gap: 1.5rem;

					li {
						p {
							cursor: pointer;
						}
					}
				}
			}

			img {
				margin-left: -0.7rem;
				width: 11.5rem;
			}
		}

		.third-footer-container {
			margin-bottom: auto;

			img {
				margin-left: -0.5rem;
				width: 7.5rem;
			}

			ul {
				display: flex;
				flex-direction: column;

				gap: 0.5rem;

				li {
					display: flex;
					gap: 1rem;
				}
			}
		}
	}

	#Reservation {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		padding: 2rem 0 2rem;

		font-size: 1.1rem;
		background-color: rgb(146, 147, 151);

		p {
			text-align: center;
			width: 90%;
			margin: auto;
		}
	}
}

@media (min-width: 825px) {
	footer {
		& > div {
			flex-direction: row !important;
			justify-content: space-around !important;

			& > div {
				width: auto !important;
			}

			.first-footer-container {
				img {
					width: 50%;
				}
			}

			.second-footer-container {
				width: 100% !important;

				& > div {
					ul {
						li {
							list-style: circle !important;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 900px) {
	footer {
		& > div {
			flex-direction: row !important;
			justify-content: space-around !important;

			& > div {
				width: 33% !important;
			}

			.first-footer-container {
				width: 25rem !important;
				text-align: left !important;

				img {
					width: 50%;
				}
			}

			.second-footer-container {
				width: 400px !important;
			}

			.third-footer-container {
				width: auto !important;
			}
		}
	}
}
