main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	#Welcome {
		cursor: pointer;
		display: flex;
		align-items: center;
		overflow: hidden;

		width: 100%;

		img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 50vh;
			object-fit: cover;
			object-position: center;
		}
	}

	#HomeBanner {
		width: 100%;

		img {
			width: 100%;
			object-fit: cover;
		}

		.arrow {
			color: rgb(84, 131, 176);
			font-size: 2rem;
		}

		.splide__list {
			position: relative;
			min-height: 20vh;

			.slide {
				img {
					width: 100%;
					height: 100%;
					max-width: 100%;
					max-height: 42vh;
					object-fit: fill;
					object-position: center;
				}

				div {
					position: absolute;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: center;
					text-align: right;
					z-index: 999 !important;

					top: 0;
					left: 27.5%;

					width: 50%;
					height: 100%;

					h2,
					h3 {
						color: rgb(20, 77, 120);
					}

					h2 {
						font-size: 1rem;
						width: 55%;
						margin-top: 5%;
					}

					h3 {
						margin-top: 5%;

						font-size: 0.8rem;
					}

					p {
						font-size: 00.8rem;
						color: rgb(186, 188, 189);
					}
				}
			}
		}
	}

	#Seals {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 2rem 0 2rem;

		background-image: url(../midia/img/alterado-ufaHospitalar-site-fatias-07.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		& > div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

			width: 50%;
			height: 100%;
			padding: 2rem 0 2rem;
			gap: 0.5rem;
			color: white;

			& > div {
				display: flex;
				justify-content: center;

				width: 20%;
				img {
					width: 100%;
					max-width: 58px;
					object-fit: contain;
				}
			}

			h3 {
				font-size: 1.5rem;
				font-weight: bold;
			}
			p {
				text-align: center;
				font-size: 1.3rem;

				max-width: 212px;
			}
		}
	}

	#MostPopular {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		padding: 4rem 0 4rem;
		gap: 2rem;

		color: white;
		background-color: rgb(30, 143, 208);

		& > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			text-align: center;

			img {
				width: 50%;
			}

			p {
				font-size: 1.2rem;
			}
		}

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;

			gap: 2rem;
			width: 100%;

			li {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				gap: 0.5rem;

				img {
					width: 80%;
				}
			}
		}
	}

	#ContactUs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;

		width: 100%;
		height: 30vh;

		& > img {
			height: 100%;
			width: 100%;

			object-fit: cover;
			object-position: top;
		}

		color: white;

		.contactUs-Container {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			z-index: 999;

			width: 90%;

			& > div {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;
				text-align: right;

				max-width: 80%;

				h2 {
					font-size: 1.5rem;
				}
				.flip {
					transform: scaleX(-1);
					width: 60%;
				}

				p {
					font-size: 1.2rem;
					white-space: nowrap;
				}
			}

			img {
				margin-right: -1rem;
				margin-top: 1%;
				width: 210px;

				cursor: pointer;
			}
		}
	}
}

@media (min-width: 480px) {
	main {
		#HomeBanner {
			.slide {
				div {
					h2 {
						margin-top: 10% !important;
					}

					h3 {
						margin-top: 5%;
					}
				}
			}
		}
	}
}

@media (min-width: 650px) {
	main {
		#HomeBanner {
			.slide {
				cursor: pointer;
				div {
					h2 {
						font-size: 2rem !important;
						margin-top: 0 !important;
						max-width: 191px !important;
					}

					p {
						font-size: 1rem !important;
					}

					h3 {
						margin-top: 5%;
						font-size: 1.2rem !important;
					}
				}
			}
		}

		#Seals {
			flex-direction: row !important;
			align-items: flex-start !important;

			& > div {
				width: 30% !important;

				& > div {
					img {
						height: 71px !important;
					}
				}

				p {
					width: 60% !important;
				}
			}
		}

		#MostPopular {
			gap: 4rem !important;

			& > div {
				h2 {
					font-size: 2rem;
				}

				p {
					font-size: 1.5rem;
				}
			}
		}

		#ContactUs {
			.contactUs-Container {
				width: 90%;
			}
		}
	}
}

@media (min-width: 825px) {
	main {
		#ContactUs {
			.contactUs-Container {
				width: 80%;
			}
		}
	}
}

@media (min-width: 900px) {
	main {
		#HomeBanner {
			.slide {
				div {
					h2 {
						font-size: 2.5rem !important;
						margin-top: 5% !important;
						max-width: 242px !important;
					}

					p {
						font-size: 1.5rem !important;
					}

					h3 {
						margin-top: 5% !important;
						font-size: 1.7rem !important;
					}
				}
			}
		}

		#ContactUs {
			height: 40vh;
		}
	}
}

@media (min-width: 1000px) {
	main {
		#ContactUs {
			.contactUs-Container {
				width: 60%;
			}
		}
	}
}
